<div class="section row justify-content-center">
  <div class="col-8">
    <h1 class="heading">UNLIMITED FEATURE, UNLIMITED FUN</h1>
  </div>
  <div class="col-8 sub_heading">
    Check out hw you can score in Exams
  </div>
  <div class="col-8 sub_heading">
    Keywords to your subject
  </div>
  <div class="col-6 sub_heading color_heading">
    Search it. Read it.
  </div>
  <div class="col-8 sub_heading">
     Get to know the important questions in just a few clicks? Go for Bytepad.<br>
      Bytepad is a web application to look for previous
    year question paper for last minute preparation.
  </div>
  <div class="col-12 color_banner">
    Stop Hard. Start SMART<br/>
    <div class="stamp">Bytepad it</div>
  </div>
  <div class="col-12">
       
  </div>
</div>
