.section{
    margin:0;
    padding: 0;
}
.landing{
    transform:translate(0,50%);
    @media only screen and (max-width:767px) {
        height: 50vh;
        transform: translate(0,25%);
    

    }
}

.section-landing {
    padding: 0;
    margin: 0;
    background-image: url("/assets/Landing_background.svg");
    background-size: cover;
    background-position: center;
    &_text{
        padding: 0;
    }
    &_image{
        
        padding: 0;
        text-align: right;
         @media only screen and (max-width:767px){
             text-align: center;
             height: 50vh;
         }
        img{
            width:80%;
            @media only screen and (max-width:767px) {
                width:100%;
            }
        }

    }
}

.heading{
   margin-top:7em;
   
//    @media only screen and (max-width:1089px) {
//        margin-top: 5em;
//    }
  &_title{
      font-size:6em;
      font-weight: 400;
      line-height: 0.5;
      
  }
   &_logo{
      height: 20em;
      text-align: center;
      img{
          height:100%;
      }
   } 
}

.text{
    font-size:2em;
}

.search{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding:0.5em;
    padding-left:2em;
    border-radius: 2em;
    border: 2px solid #BCBCBC;
    // margin-left:2em;
    font-family:Arial, FontAwesome;
    font-size:1.7em;

    &:focus{
        outline: none;
        border: 2px solid blue;
    }
}

.example{
 margin-top: 1em;
 font-size:1.5em;
 box-sizing: border-box;
 padding-left:1.7em;
 text-align: center;
}

.button{
    margin:1em;
    font-size:2em;
    border-radius:2em;
    width:100%;
    box-sizing: border-box;
    background: linear-gradient(#6EB8E6,#7867AE);

}

.screen_laptop{
    @media only screen and (max-width:767px) {
        display:none;
    }
}

.screen_mobile{
    @media only screen and (min-width:768px) {
        display: none;
    }
    width: 100%;
    margin-top: -2em;
}

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: linear-gradient(#6EB8E6,#7867AE);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;

  &:hover{
      box-shadow: 0 3px 3px rgba(0,0,0,0.4);
      color: #fff;
  }
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.247);
  border-radius: 100em;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
 .hvr-radial-out:active {
  color: white;
  box-shadow: 0 5px 3px rgba(0,0,0,0.5);
}
 .hvr-radial-out:active:before {
  -webkit-transform: scale(4);
  transform: scale(4);
}