<div class="section item justify-content-center row" [ngsReveal]="{ reset: true}">
  <div class="col-8">
    <div class="row justify-content-center background">
      <div class="col-8 content_heading">
        <h1>BYTEPAD IN EVERY EXAM</h1>
      </div>
      <div class="col-6 line" ><hr/></div>
      <div class="col-8 content">Discover the Power of <span>BYTEPAD</span></div>
      <div class="col-8 content">Our app is available on mobile device!<br/>
      Download now and get started</div>
      <div class="col-4 app-store_img "><img src="/assets/image_preview.png" class="app-store hvr-grow-shadow "></div>
      <div class="col-4 app-store_img"><img src="/assets/Download_App_Store.png" class="app-store hvr-grow-shadow"></div>
      <div class="col-12 vector-playstore"><img src="/assets/playstore.svg"></div> 
    </div>
  </div>
</div>