<div class="section item row justify-content-center">
  <div class="col-12 section">
    <div class="row justify-content-center updates section">
  <div class="col-md-8"><h1 class="heading">LATEST UPDATES</h1></div>
  <div class="col-md-8 col-10"><p class="updates_heading">PUTs papaer are available now</p></div>
  <div class="col-md-8 col-10"><p class="updates_heading">Solution are also available</p></div>
  </div>
  </div>
  <div class="col-8"><p class="update_text">Making efforts in the right direction reaps fruit.Bytepad maximises your effort and helps you to score better. Working smart
  is as important as working hard. You can search and download previous year Question papers with solutions which can increase
  your score in exams. You can search ST, PUT, and UT papers of previous year of all branches. As the solutions are provided
  by the faculties of the college, hence they are authentic and reliable.</p></div>
  <div class="col-md-4 col-6"><button class="btn button">Explore Bytepad more.....</button></div>
</div>