
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

 html{
    font-size:62.5%; // 1rem=10px, 10/16 = 62.5%

    @media only screen and (min-width:1024px) {
        font-size:62.5%; // 1rem=10px, 
    }
    @media only screen and (min-width:768px) {
        font-size:56.25%; //1rem = 9px ,
    }

    @media only screen and (min-width:576px) {
        font-size: 50%; //1rem = 8px
    }

    @media only screen and (max-width:576px) {
        font-size: 30%; //1 rem = 4.8px;
    }

    @media only screen and (min-width:1440px) {
        font-size: 75%; // 1rem = 12px ;
    }
}

.loading-Image{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 400px;
   height: 400px;
   @media only screen and (max-width:575px) {
        width: 200px;
   height: 200px;
    }
}

/*----variables----*/
$color-blue: #6EB8E6;
$color-purple: #7867AE;